body {
  background: #eee;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-weight: 200;
  font-size: 22px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  border-bottom: 1px solid #ccc;

  background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#bfbfbf), color-stop(3%, #f7f7f7), color-stop(12%, #f2f2f2), color-stop(90%, #d9d9d9));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: linear-gradient(to bottom, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
  box-shadow: 0 1px 5px rgba(0,0,0,0.75);
}

#header .wrap {
  margin: 0 5px;
}

input[type='search'] {
  margin: 10px 0 10px 0;
  width: 100%;
  padding: 6px;
  font-size: 16px;
  color: #999;
}

#results {
  margin-top: 45px;
}

.search-result {
  padding: 4px 7px;
  margin: 0px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  word-wrap: break-word;
}

.search-result.odd {
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #fafafa 100%);
}

.search-result.even {
  background: -webkit-linear-gradient(top, rgba(225,237,244,1) 0%, rgba(225,237,244,.6) 100%);
}

.search-result pre {
  margin: 0;
  padding: 4px 0;
}

.search-result.odd pre {
  border-bottom: 1px solid #ddd;
}
.search-result.odd pre:nth-child(1) {
  font-weight: 700;
  text-decoration: underline;
  border: 0;
}
.search-result.odd pre:last-child {
  border: 0;
}

.search-result.even pre {
  border-bottom: 1px solid #aaa;
}
.search-result.even pre:nth-child(1) {
  font-weight: 700;
  text-decoration: underline;
  border: 0;
}
.search-result.even pre:last-child {
  border: 0;
}